<!DOCTYPE html>
<html>
<head>
    <title>API Data</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for field in displayed_fields %}
                    <th>{{ field }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    {% for field in displayed_fields %}
                        <td>{{ item.fields[field] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
